Read data from file

In [13]:
import pandas as pd
import numpy as np
file = r'Largest US Venture Funding Deals Of 2023.csv'
df = pd.read_csv(file)
df['date reported'] = pd.to_datetime(df['Date reported'], format='%m/%d/%y')
df.head()

,Company,Amount,Lead investors,Valuation,Industry,Date reported,date reported
0,OpenAI,"$10,000,000,000",Microsoft,NaN,Artificial intelligence,1/23/23,2023-01-23
1,Stripe,"$6,500,000,000",NaN,"$50,000,000,000",Fintech,3/15/23,2023-03-15
2,Inflection AI,"$1,300,000,000","Microsoft, Reid Hoffman, Bill Gates, Eric Schm...","$4,000,000,000",Artificial intelligence,6/29/23,2023-06-29
3,Anthropic,"$1,250,000,000",Amazon,"$4,000,000,000",Artificial intelligence,9/25/23,2023-09-25
4,Generate Capital,"$1,030,900,000",NaN,NaN,Energy,1/6/23,2023-01-06

In [14]:
missing_data = df.isnull()
missing_data.head(5)
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Company
False    171
Name: Company, dtype: int64

Amount
False    171
Name: Amount, dtype: int64

Lead investors
False    145
True      26
Name: Lead investors, dtype: int64

Valuation
True     124
False     47
Name: Valuation, dtype: int64

Industry
False    171
Name: Industry, dtype: int64

Date reported
False    171
Name: Date reported, dtype: int64

date reported
False    171
Name: date reported, dtype: int64